<div class="card-list-container">
  <div class="row">
    <% post_blogs.each do |post_blog|%>
    <div class="card m-2 shadow-sm" style="width:250px;">
      <%= attachment_image_tag post_blog, :image, class: "card-img-top", format: 'jpeg', fallback: "no_image_show.jpg" %>
      <div class="card-body border-top">
        <p class="card-title"><small>タイトル：<%= link_to post_blog.title, post_blog_path(post_blog) %></small></p>
        <p><small>ニックネーム：<%= link_to post_blog.user.name, user_path(post_blog.user) %></small></p>
        <p class="card-tag"><small>タグ:</small>
          <% post_blog.tags.each do |t| %>
            <%= link_to t.name, post_blogs_path(tag_id: t.id) %>
          <% end %></p>
        <p class="card-comment-favorite">
          <small><%= link_to "コメント数 #{post_blog.post_comments.count} ", post_blog_path(post_blog.id) %></small>|
          <%= render 'favorites/favorite-btn', post_blog: post_blog %>
        </p>
        <p class="card-link text-right"><%= link_to "詳細はこちら", post_blog_path(post_blog.id) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
