<div class="container">
  <div class="row">
    <div class-"col-4">
      <%= link_to attachment_image_tag(@user, :profile_image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" ),user_path(@user.id) %><br>
      <%=link_to @user.name, user_path(@user.id) %></td>
    </div>
    <div class-"col-8"><h2><%= @post_blog.title %></h2></div>
  </div>
  <div class="row">
    <h5> <%= @post_blog.updated_at.strftime('%Y/%m/%d') %></h5>
  </div>
  <div class="row">
    <%= attachment_image_tag @post_blog,:image %>
  </div>
  <div class="row">
    <%= @post_blog.body %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if @post_blog.user == current_user %>
      <td><%= link_to "Edit", edit_post_blog_path(@post_blog),class:"btn btn-sm btn-success edit_post_blog_#{@post_blog.id}" %></td>
      <td>
        <%= link_to "Destroy", post_blog_path(@post_blog), method: :delete, "data-confirm" => "Are you sure?",class:"btn btn-sm btn-danger destroy_post_blog_#{@post_blog.id}" %>
      </td>
    <% end %>
  </div>
</div>
<div class="container">
  <p>コメント件数：<%= @post_blog.post_comments.count %></p>
   <% if @post_blog.favorited_by?(current_user) %>
    <p>
      <%= link_to post_blog_favorites_path(@post_blog), method: :delete do %>
        いいね<%= @post_blog.favorites.count %>♥
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_blog_favorites_path(@post_blog), method: :post do %>
        いいね<%= @post_blog.favorites.count %>♡
      <% end %>
    </p>
    <% end %>
  <% @post_blog.post_comments.each do |f| %>
  <div class="row">
    <div class="col-8">
      <p><%= attachment_image_tag f.user, :profile_image, size: "50x50" %></p>
      <%= f.user.name %>
      <%= f.created_at.strftime('%Y/%m/%d') %><%= f.comment %>
    </div>
    <div class="col-4">
      <% if f.user == current_user %>
      <%= link_to "削除", post_blog_post_comment_path(f.post_blog, f), method: :delete %>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <%= form_with(model:[@post_blog, @post_comment], local: true) do |f| %>
    <div class="col-8"><%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", cols: "80", rows: "5" %></div>
    <div class="col-4"> <%= f.submit "送信する" %></div>
    <% end %>
  </div>
</div>