<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <h3 class="text-center"><strong>投稿者</strong></h3>
      <%= render 'users/userinfo', user: @user %>
      <!--<h3 class="text-center mt-3"><strong>ペット紹介</strong></h3>-->
    </div>
    <div class="col-9">
      <h3 class="text-center"><strong>ブログ</strong></h3>
      <div class="row">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            投稿日時：<%= @post_blog.updated_at.strftime('%Y/%m/%d') %><h5><small>タイトル：</small><%= @post_blog.title %></h5>
          </div>
          <%= attachment_image_tag @post_blog, :image, class: "card-img", format: 'jpeg', fallback: "no_image_show.jpg" %>
          <div class="card-body">
            <div class="card-text">
              <p><%= @post_blog.body %></p>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-btn text-right">
              <% if @post_blog.favorited_by?(current_user) %>
                <%= link_to post_blog_favorites_path(@post_blog), method: :delete do %>
                  いいね<%= @post_blog.favorites.count %>♥
                <% end %>
              <% else %>
                <%= link_to post_blog_favorites_path(@post_blog), method: :post do %>
                  いいね<%= @post_blog.favorites.count %>♡
                <% end %>
              <% end %>
              コメント件数：<%= @post_blog.post_comments.count %>
              <% if @post_blog.user == current_user %>
                <%= link_to "編集する", edit_post_blog_path(@post_blog),class:"btn btn-sm btn-success edit_post_blog_#{@post_blog.id}" %>
                <%= link_to "削除する", post_blog_path(@post_blog), method: :delete, "data-confirm" => "Are you sure?",class:"btn btn-sm btn-danger destroy_post_blog_#{@post_blog.id}" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row mt-3"><h5>コメント</h5></div>
        <% @post_blog.post_comments.each do |f| %>
        <div class="cotainer" style="width: 100%;" >
          <div class="media">
            <p class="mr-3"><%= attachment_image_tag f.user, :profile_image, size: "50x50" %></p>
            <div class="media-body">
              <p><%= f.user.name %><small>さんのコメント</small></p>
              <p><%= f.comment %></p>
              <p class="text-right">
                <small>コメント日時：<%= f.created_at.strftime('%Y/%m/%d') %></small>
                <% if f.user == current_user %>
                  <%= link_to "削除する", post_blog_post_comment_path(f.post_blog, f), method: :delete, class:"btn btn-sm btn-danger" %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
        <div class="container">
          <%= form_with(model:[@post_blog, @post_comment], local: true) do |f| %>
          <div class="row">
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", cols: "80", rows: "5" %>
          </div>
          <div class="row mt-1">
            <%= f.submit "送信する" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>