<div class="card-list-container">
  <div class="row">
    <% users.each do |f|%>
    <div class="card m-2 shadow-sm" style="width:250px;">
      <%= attachment_image_tag f, :profile_image, class: "card-img-top", format: 'jpeg', fallback: "no_image.jpg"%>
      <div class="card-body">
        <h5 class="card-name"><small>ニックネーム：<%= f.name %></small></h5>
        <h5 class="card-introduction"><small>自己紹介：<%= f.introduction %></small></h5>
        <%= render 'relationships/follow-btn', user: f %>
        <p class="card-link text-right"><%= link_to "詳細はこちら", user_path(f.id) %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
