 <%= attachment_image_tag user, :profile_image, size: "150x150", class: "profile_image mx-auto d-block", format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table" style="width:15rem;">
    <tr>
      <th class="text-nowrap"><small>ニックネーム</small></th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th class="text-nowrap"><small>自己紹介</small></th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th class="text-nowrap"><small>フォロー</small></th>
      <td><%= link_to user.followings.count, user_followings_path(user) %></td>
    </tr>
    <tr>
      <th class="text-nowrap"><small>フォロワー</small></th>
      <td><%= link_to user.followers.count, user_followers_path(user) %></td>
    </tr>
  </table>
    <div class="row">
      <div class="col text-center">
        <%= render 'relationships/follow-btn', user: @user %>
      </div>
    </div>